@import './fonts';
@import './colors';

.nav-bar {
    list-style: none;  
    display: flex;
.nav-link {
        background-color: $rose;
        margin-right: 20px;
        height: 4rem;
        width: 6rem;
        border-radius: 1.5rem;
        align-items: center;
        display: flex; 
        justify-content: center;
        cursor: pointer;
        color: $white;
        text-decoration: none;

        &:hover {
            color: $lightrose;
            border: $rose solid 2px;
        }
    }


}  

#mulogo{
    width: 5rem;
    height: 5rem;
}
   